# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Perkuliahan\Semester 4\Pengembangan Aplikasi Terdistribusi (PASTI)\projek\alex\Proyek\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
